@import "tailwindcss";





/* Keyframes for the slow jumping/floating animation */
@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0px); }
}
/* Apply the floating animation to specific elements */
.animate-float {
  animation: float 6s ease-in-out infinite;
}
